.rec-btn-cont {
  border-radius: 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: min-content;
  gap: 1vmin;
  background-color: #333;
  padding: 1.5vmin 1vmin;
}
.img-btn {
  width: 40px;
  border: none;
  background: none;
}
.img-btn p {
  color: white;
  font-size: 0.8rem;
}
.img-btn i {
  color: red;
}
.img-btn:hover {
  transform: scale(0.9);
  opacity: 0.8;
}

.save-input {
  margin: 0 auto;
  width: 60%;
}
.save-btn {
  margin: 1vmin;
  padding: 5px;
}
