.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 80%;
  padding-bottom: 10vmin;
  background-color: #f4f4f4;
  border-radius: 15px;
  gap: 2vmin;
  max-width: 625px;
  color: black;
}

.error-message {
  color: rgb(218, 6, 6);
  font-size: 1.2rem;
}
