.learn-game {
  padding: 18px 10px;
}
.game-message {
  margin: 1.5vmin;
  padding: 10px;
}
.note-display {
  margin: 1.5vmin;
  padding: 10px;
}
.game-mozart {
  height: 30vmin;
  animation: 0.8s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
