.learn-game {
  padding: 18px 10px;
}
.game-message {
  display: flex;
  gap: 15vmin;
  justify-content: center;
  align-items: center;
  margin: 1.5vmin auto;
  padding: 10px;
}
.note-display {
  margin: 1.5vmin;
  padding: 10px;
}
.game-mozart {
  height: 30vmin;
  animation: 0.8s ease-out 0s 1 slideInFromLeft;
}
.accuracy-message {
  font-size: 2rem;
  font-weight: bold;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
