.home {
  /* font-family: 'Gochi Hand', cursive;*/
  /* font-family: 'Luckiest Guy', cursive;
font-family: 'Passion One', cursive; */
  /* font-family: "Permanent Marker", cursive; */
  font-family: Lato;
  /* font-family: "Press Start 2P", cursive; */
  /* font-family: "Fredoka One", cursive; */

  /* font-family: "Bebas Neue", cursive; */
  position: relative;
  height: 100%;
  font-size: 1.8rem;
  letter-spacing: 2px;
}
.welcome-message {
  margin: 0 auto;
  padding: 5vmin;
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 40vmin;
  max-height: 350px;
  max-width: 750px;
}
.welcome-message img {
  height: 100%;
}
.instructions-cont {
  /* -webkit-text-stroke-width: 0.8px; 1px Stroke */
  /* -webkit-text-stroke-color: #1dddaf; White Color */
  margin: 5vmin auto;
  width: 60%;
  color: #101816;
  background-color: #feecef;
  border-radius: 15px;
  padding: 5% 3vmin;
  /* text-shadow: 1px 1px 2px #1dddaf; */
}
.instructions-cont p {
  font-weight: 650;
}
.instructions-cont h2 {
  font-size: 4rem;
}
.bg-primary {
  background-color: #feecef;
}
.bg-secondary {
  background-color: #404141;
}
.color-primary {
  color: #feecef;
}
.color-secondary {
  color: #1dddaf;
}

.welcome-mozart {
  width: 60%;
  max-width: 736px;
}
.welcome-header {
  font-size: 4rem;
  font-weight: 900;
}

@media (max-width: 600px) {
  .welcome-header {
    font-size: 8vmin;
  }
}
