.keyboard {
  display: flex;
  margin: 0 auto;
  height: 20vh;
  width: 90%;
  border: 20px solid rgb(230, 48, 48);
}
.white-note {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  height: 100%;
  border: 1px solid #333;
}
.black-note {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: 0;
  position: absolute;
  left: 66%;
  height: 65%;
  width: 65%;
  color: white;
  vertical-align: bottom;
  background-color: #333;
}
