.keyboard {
  display: flex;
  margin: 10% auto 5px auto;
  height: 20vh;
  width: 90%;
  border: 10px solid gray;
  max-width: 900px;
}
.white-note {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  height: 100%;
  background-color: rgb(255, 244, 229);
  border: 1px solid #333;
}
.black-note {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: 0;
  position: absolute;
  left: 66%;
  height: 65%;
  width: 65%;
  color: white;
  vertical-align: bottom;
  z-index: 2;
  background-color: #333;
}
