.App {
  height: 100%;

  text-align: center;
}
.main {
  height: 90%;
  margin: 0 auto;
  max-width: 1450px;
}
.bg-primary {
  background-color: #feecef;
}
.bg-secondary {
  background-color: #404141;
}
.bg-third {
  background-color: #1dddaf;
}
.color-primary {
  color: #feecef;
}
.color-secondary {
  color: #1dddaf;
}
